In [1]:
#import libarayrs
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.ensemble

In [2]:
# Importing the libraries
import numpy as np # for array operations
import pandas as pd # for working with DataFrames
import matplotlib.pyplot as plt # for data visualization
%matplotlib inline

# scikit-learn modules
from sklearn.model_selection import train_test_split # for splitting the data
from sklearn.metrics import mean_squared_error # for calculating the cost function
from sklearn.ensemble import RandomForestRegressor # for building the model

In [20]:
matam_to_hadar1= pd.read_csv("hadar_df.csv")
matam_to_hadar1.head()

,Unnamed: 0,mac,src,dest,start_date,end_date,start_time,end_time,from,to,day,dur,min_duration
0,278690.0,1.0,bt165,bt163,11/01/2021,11/01/2021,10:43:00,10:44:00,Hadar,HaMoshava HaGermanit,Monday,00:01:00,1.0
1,42058.0,1.0,bt151,bt149,11/01/2021,11/01/2021,13:02:00,13:04:00,Hadar,Hadar,Monday,00:02:00,2.0
2,1049073.0,1.0,bt149,bt100,11/01/2021,11/01/2021,16:25:00,16:44:00,Hadar,Matam,Monday,00:19:00,19.0
3,2013741.0,1.0,bt108,bt139,11/02/2021,11/02/2021,20:11:00,20:26:00,Hadar,Matam,Thursday,00:15:00,15.0
4,1130983.0,1.0,bt108,bt158,11/03/2021,11/03/2021,23:16:00,23:23:00,Hadar,Kiryat Haim,Thursday,00:07:00,7.0

In [21]:
matam_to_hadar=matam_to_hadar1.head(20000)

In [22]:
len(matam_to_hadar)

20000

In [23]:
del matam_to_hadar['Unnamed: 0']
del matam_to_hadar['dur']
matam_to_hadar=matam_to_hadar.drop(matam_to_hadar[matam_to_hadar.eq('#VALUE!').any(1)].index) 
matam_to_hadar=matam_to_hadar.drop(matam_to_hadar[matam_to_hadar.eq('#NUM!').any(1)].index) 
matam_to_hadar['start_time']=pd.to_datetime(matam_to_hadar['start_time'], format='%H:%M:%S').dt.hour
#matam_to_hadar['end_time']=pd.to_datetime(matam_to_hadar['end_time'], format='%H:%M:%S').dt.hour
matam_to_hadar.head()

,mac,src,dest,start_date,end_date,start_time,end_time,from,to,day,min_duration
0,1.0,bt165,bt163,11/01/2021,11/01/2021,10.0,10:44:00,Hadar,HaMoshava HaGermanit,Monday,1.0
1,1.0,bt151,bt149,11/01/2021,11/01/2021,13.0,13:04:00,Hadar,Hadar,Monday,2.0
2,1.0,bt149,bt100,11/01/2021,11/01/2021,16.0,16:44:00,Hadar,Matam,Monday,19.0
3,1.0,bt108,bt139,11/02/2021,11/02/2021,20.0,20:26:00,Hadar,Matam,Thursday,15.0
4,1.0,bt108,bt158,11/03/2021,11/03/2021,23.0,23:23:00,Hadar,Kiryat Haim,Thursday,7.0

In [24]:
one_hot_encoded_data = pd.get_dummies(matam_to_hadar, columns = ['day', 'start_time', 'from','to'])
print(one_hot_encoded_data)

            mac    src   dest  start_date    end_date  end_time  min_duration  \
0           1.0  bt165  bt163  11/01/2021  11/01/2021  10:44:00           1.0
1           1.0  bt151  bt149  11/01/2021  11/01/2021  13:04:00           2.0
2           1.0  bt149  bt100  11/01/2021  11/01/2021  16:44:00          19.0
3           1.0  bt108  bt139  11/02/2021  11/02/2021  20:26:00          15.0
4           1.0  bt108  bt158  11/03/2021  11/03/2021  23:23:00           7.0
...         ...    ...    ...         ...         ...       ...           ...
19995  116752.0  bt108  bt111  22/11/2021  22/11/2021  15:13:00          10.0
19996  116752.0  bt108  bt111  24/11/2021  24/11/2021  15:15:00          10.0
19997       NaN    NaN    NaN         NaN         NaN       NaN           NaN
19998  116762.0  bt153  bt146  11/11/2021  11/11/2021  17:31:00           3.0
19999  116762.0  bt153  bt146  21/11/2021  21/11/2021  16:48:00           5.0

       day_Friday  day_Monday  day_Saturday  ...  to_Ramat Begin  \
0               0           1             0  ...               0
1               0           1             0  ...               0
2               0           1             0  ...               0
3               0           0             0  ...               0
4               0           0             0  ...               0
...           ...         ...           ...  ...             ...
19995           0           1             0  ...               0
19996           0           0             0  ...               0
19997           0           0             0  ...               0
19998           0           0             0  ...               0
19999           0           0             0  ...               0

       to_Ramat Ben Gurion  to_Ramat Eshkol  to_Ramat Golda  \
0                        0                0               0
1                        0                0               0
2                        0                0               0
3                        0                0               0
4                        0                0               0
...                    ...              ...             ...
19995                    0                0               0
19996                    0                0               0
19997                    0                0               0
19998                    0                0               0
19999                    0                0               0

       to_Ramat HaTishbi  to_Ramat Sapir  to_Romema  to_Shambur  \
0                      0               0          0           0
1                      0               0          0           0
2                      0               0          0           0
3                      0               0          0           0
4                      0               0          0           0
...                  ...             ...        ...         ...
19995                  0               0          0           0
19996                  0               0          0           0
19997                  0               0          0           0
19998                  0               0          0           0
19999                  0               0          0           0

       to_University  to_Ziv
0                  0       0
1                  0       0
2                  0       0
3                  0       0
4                  0       0
...              ...     ...
19995              0       0
19996              0       0
19997              0       0
19998              0       0
19999              0       0

[20000 rows x 64 columns]

In [6]:
one_hot_encoded_data.head()

,mac,src,dest,start_date,end_date,end_time,from,to,time_duratin,day_1,...,start_time_14,start_time_15,start_time_16,start_time_17,start_time_18,start_time_19,start_time_20,start_time_21,start_time_22,start_time_23
0,1,bt100,bt149,11/02/2021,11/02/2021,11,Matam,Hadar,28,0,...,0,0,0,0,0,0,0,0,0,0
1,1,bt100,bt149,11/03/2021,11/03/2021,11,Matam,Hadar,29,0,...,0,0,0,0,0,0,0,0,0,0
2,100019,bt102,bt108,11/02/2021,11/02/2021,13,Matam,Hadar,15,0,...,0,0,0,0,0,0,0,0,0,0
3,100027,bt140,bt166,11/08/2021,11/08/2021,13,Matam,Hadar,10,0,...,0,0,0,0,0,0,0,0,0,0
4,100030,bt103,bt108,11/11/2021,11/11/2021,7,Matam,Hadar,11,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
one_hot_encoded_data = one_hot_encoded_data.reset_index(drop=True)
one_hot_encoded_data.dropna(inplace=True)

In [12]:
print(one_hot_encoded_data.columns)

Index(['mac', 'src', 'dest', 'start_date', 'end_date', 'end_time',
       'min_duration', 'day_Friday', 'day_Monday', 'day_Saturday',
       'day_Sunday', 'day_Thursday', 'day_Tuesday', 'day_Wednesday',
       'start_time_0.0', 'start_time_1.0', 'start_time_2.0', 'start_time_3.0',
       'start_time_4.0', 'start_time_5.0', 'start_time_6.0', 'start_time_7.0',
       'start_time_8.0', 'start_time_9.0', 'start_time_10.0',
       'start_time_11.0', 'start_time_12.0', 'start_time_13.0',
       'start_time_14.0', 'start_time_15.0', 'start_time_16.0',
       'start_time_17.0', 'start_time_18.0', 'start_time_19.0',
       'start_time_20.0', 'start_time_21.0', 'start_time_22.0',
       'start_time_23.0', 'from_Ahuza', 'from_Carmelia',
       'from_HaEir HaTachtit', 'from_HaMoshava HaGermanit', 'from_Hadar',
       'from_Hod HaCarmel', 'from_Kiryat Ata', 'from_Kiryat Byalik',
       'from_Kiryat Elieazer', 'from_Kiryat Eliyahoo', 'from_Kiryat Haim',
       'from_Matam', 'from_Mifratz', 'from_Newe Paz', 'from_Newe Shaanan',
       'from_Ramat Begin', 'from_Ramat Ben Gurion', 'from_Ramat Eshkol',
       'from_Ramat Golda', 'from_Ramat HaTishbi', 'from_Ramat Sapir',
       'from_Romema', 'from_Shambur', 'from_University', 'from_Ziv',
       'to_Ahuza', 'to_Carmelia', 'to_HaEir HaTachtit',
       'to_HaMoshava HaGermanit', 'to_Hadar', 'to_Hod HaCarmel',
       'to_Kiryat Ata', 'to_Kiryat Byalik', 'to_Kiryat Elieazer',
       'to_Kiryat Eliyahoo', 'to_Kiryat Haim', 'to_Matam', 'to_Mifratz',
       'to_Newe Paz', 'to_Newe Shaanan', 'to_Ramat Begin',
       'to_Ramat Ben Gurion', 'to_Ramat Eshkol', 'to_Ramat Golda',
       'to_Ramat HaTishbi', 'to_Ramat Sapir', 'to_Romema', 'to_Shambur',
       'to_University', 'to_Ziv'],
      dtype='object')

In [26]:
list(zip( range(0,len(one_hot_encoded_data.columns)),one_hot_encoded_data.columns))

[(0, 'mac'),
 (1, 'src'),
 (2, 'dest'),
 (3, 'start_date'),
 (4, 'end_date'),
 (5, 'end_time'),
 (6, 'min_duration'),
 (7, 'day_Friday'),
 (8, 'day_Monday'),
 (9, 'day_Saturday'),
 (10, 'day_Sunday'),
 (11, 'day_Thursday'),
 (12, 'day_Tuesday'),
 (13, 'day_Wednesday'),
 (14, 'start_time_0.0'),
 (15, 'start_time_1.0'),
 (16, 'start_time_2.0'),
 (17, 'start_time_3.0'),
 (18, 'start_time_4.0'),
 (19, 'start_time_5.0'),
 (20, 'start_time_6.0'),
 (21, 'start_time_7.0'),
 (22, 'start_time_8.0'),
 (23, 'start_time_9.0'),
 (24, 'start_time_10.0'),
 (25, 'start_time_11.0'),
 (26, 'start_time_12.0'),
 (27, 'start_time_13.0'),
 (28, 'start_time_14.0'),
 (29, 'start_time_15.0'),
 (30, 'start_time_16.0'),
 (31, 'start_time_17.0'),
 (32, 'start_time_18.0'),
 (33, 'start_time_19.0'),
 (34, 'start_time_20.0'),
 (35, 'start_time_21.0'),
 (36, 'start_time_22.0'),
 (37, 'start_time_23.0'),
 (38, 'from_Hadar'),
 (39, 'to_Ahuza'),
 (40, 'to_Carmelia'),
 (41, 'to_HaEir HaTachtit'),
 (42, 'to_HaMoshava HaGermanit'),
 (43, 'to_Hadar'),
 (44, 'to_Hod HaCarmel'),
 (45, 'to_Kiryat Ata'),
 (46, 'to_Kiryat Byalik'),
 (47, 'to_Kiryat Elieazer'),
 (48, 'to_Kiryat Eliyahoo'),
 (49, 'to_Kiryat Haim'),
 (50, 'to_Matam'),
 (51, 'to_Mifratz'),
 (52, 'to_Newe Paz'),
 (53, 'to_Newe Shaanan'),
 (54, 'to_Ramat Begin'),
 (55, 'to_Ramat Ben Gurion'),
 (56, 'to_Ramat Eshkol'),
 (57, 'to_Ramat Golda'),
 (58, 'to_Ramat HaTishbi'),
 (59, 'to_Ramat Sapir'),
 (60, 'to_Romema'),
 (61, 'to_Shambur'),
 (62, 'to_University'),
 (63, 'to_Ziv')]

In [27]:
Y = one_hot_encoded_data.iloc[:,6].values
X = one_hot_encoded_data.iloc[:,range(7,63)].values

In [28]:
# Splitting the dataset into training and testing set (80/20)
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 28)

In [29]:
# Initializing the Random Forest Regression model with 10 decision trees
model = RandomForestRegressor(n_estimators = 60, random_state = 1234)

# Fitting the Random Forest Regression model to the data
model.fit(x_train, y_train)

RandomForestRegressor(n_estimators=60, random_state=1234)

In [30]:
# Predicting the target values of the test set
y_pred = model.predict(x_test)

# RMSE (Root Mean Square Error)
rmse = float(format(np.sqrt(mean_squared_error(y_test, y_pred)), '.3f'))
print("\nRMSE: ", rmse)

RMSE:  7.228

In [32]:
x=0
for i in range(len(y_pred)):
    if(y_test[i]!=0):
        hefresh=(y_pred[i]-y_test[i])/y_test[i]
        #print(y_test[i],y_pred[i],hefresh*100)
    if(-2<hefresh<2):
         x=x+1
print(x)
print(x/len(y_pred)*100)

2923
73.12984738553916

In [12]:
mse = mean_squared_error(y_test, y_pred)
rmse = mse**.5
print(mse)
print(rmse)

75.68270985874895
8.699581016275953

In [31]:
print(y_pred.std())

3.8664884398660093